%section.main
  %h3
    Первый в мире удобный менеджер флеш-карточек. Именно так.
  .card
    - if @card.nil?
      %h4 Карточек нет
    - else
      = image_tag @card.avatar.thumb.url, class: "card-img-top"
      .card-block
        %p.card-text 
          = @card.translated_text
        %p.card-text 
          = @card.review_date.strftime("%d-%m-%Y")
        %p= render 'form'
