- if @decks.any?
  %h2 Новая карточка
  = render 'form'
  .backbutton
    = link_to 'Back', cards_path, :class => "btn btn-danger btn-sm"
- else
  %p У вас еще нет колод для карточек. Создайте несколько.